@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@plugin "../plugins/buttonPlugin";

@theme {
  --default-font-family: "Lato", sans-serif;

  --color-et-primary-bg: #121212;
  --color-et-secondary-bg: #ffffff09;
  --color-et-primary-muted: #959595;
  --color-et-secondary-muted: #575757;
  --color-et-white: #DFDFDF;
  --color-et-orange: #FD6F00;
  --color-et-logo-g-start: #FA6E00;
  --color-et-logo-g-end: #E60026;
}

h1{
  @apply text-6xl;
}
h2{
  @apply text-5xl;
}
h3{
  @apply text-4xl;
}
h4{
  @apply text-3xl;
}
h5{
  @apply text-2xl;
}
h6{
  @apply text-xl;
}

@utility overlay {
  @apply absolute inset-0;
}

@utility hover-effect {
  @apply transition-colors ease-in-out cursor-pointer select-none;
}

.container {
  @apply px-4 mx-auto;
}

.media-icons{
  @apply flex items-center justify-center w-12 h-12 border border-et-primary-muted rounded-[50%] p-2 text-2xl text-et-white;
}

#primary-menu {
  @apply absolute top-full w-full py-8 flex flex-col items-center gap-6 lg:gap-10 xl:gap-16 bg-et-primary-bg/95 z-50;

  @media (width >= theme(--breakpoint-lg)) {
    @apply static w-auto flex-row bg-none p-0;
  }
}

.text-and-image {
  @apply grid grid-cols-1 xl:grid-cols-2 gap-20 odd:xl:[&_>_.text-container]:order-2;

  .text-container {
    @apply flex flex-col gap-4 justify-center text-justify;
  }

  .image-container {
    @apply relative aspect-[4/3] flex items-center justify-center;

    img {
      @apply w-full h-full object-cover saturate-70;
    }

    .overlay {
      @apply bg-linear-to-b from-[#2e4e3e] to-[#2f4b7e] opacity-15;
    }
  }
}

